@media screen and (max-width: 500px) {
  header {
    font-size: 0.5em;

  }

  .fa {
    font-size: 0.6em;
  }
}

@media screen and (min-width: 800px) {
  .score-panel {
    width: 480px;
    margin-left: auto;
    margin-right: auto
  }

  .deck {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .deck .card {
    height: 22%;
  }
}
